<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Profile Page</title>
    </head>
    <body>
        <h4><%= username%>'s Profile</h4>
        <h5>your userID is "<%=hashcode%>"</h5>
        <table border="2">
            <tr>
                <th>PostID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Timestamp</th>
                <th>Votes</th>
            </tr>
            <% for(var i=data.length-1; i>=0; i-=1) { %>
                <tr>
                    <td><a href="/post/<%=data[i].postID%>"><%=data[i].postID%></a></td>
                    <td><%=data[i].title%></td>
                    <td><%=data[i].content%></td>
                    <td><%=data[i].timestamp%></td>
                    <td><%=data[i].vote%></td>
                </tr>
            <% } %>
        </table>
        <form action="/<%= hashcode%>/create" method="GET">
            <br>
            <button>Create New Post</button>
        </form>
    </body>
</html>