<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=egde" />
    <title>Profile</title>
  </head>
  <body>
    <table>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Content</th>
        <th>Timestamp</th>
        <th>Vote Coutner</th>
      </tr>
      <% for(var i=0; i < sql.length; i++) { %>
        <tr>
          <td><%= sql[i].username %></td>
         <td><%= sql[i].title %></td>
         <td><%= sql[i].content %></td>
         <td><%= sql[i].timestamp %></td>
         <td><%= sql[i].votecounter %></td>
        </tr>
     <% } %>
        </table>
  </body>
</html>