<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
      <h1>Title: <%= title %></h1>
      <h1>Content: <%= content %></h1>
      <h1>Timestamp: <%= timestamp %></h1>
      <h1>Vote Counter: <%= votecounter %></h1>
      <h1>User: <%= user %></h1>
  </body>
</html>