<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=egde" />
    <title>Profile</title>
  </head>
  <body>
    <form action="/<%= username %>/create" method="GET">
      <p><%= username %>'s Profile</p>
        <input type="submit" class="fadeIn fourth" style="float:right" value="Create">
      </form>
    <table>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Timestamp</th>
        <th>Vote Coutner</th>
      </tr>
      <% for(var i=(sql.length - 1); i >= 0; i--) { %>
        <tr>
         <td><%= sql[i].title %></td>
         <td><%= sql[i].content %></td>
         <td><%= sql[i].timestamp %></td>
         <td><%= sql[i].votecounter %></td>
        </tr>
     <% } %>
        </table>
  </body>
</html>